body {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.board {
  width: 400px;
  height: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.snake {
  background-color: black;
  border: 1px solid white;
}

.snake-head {
  background-color: black;
  border: 1px solid red;
}

.food {
  background-color: red;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  position: absolute;

  height: 200px;
  width: 240px;
  border: 3px solid red;
  background-color: black;
}

.play, .play-again {
  background-color: grey;
  padding: 12px 25px;
}

.play:hover, .play-again:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}

.mobile-controls {
  visibility:hidden;
  display: none;

  margin-top: 560px;
  position: absolute;
}

.mobile-controls div {
  background-color: red;
  border: 1px solid black;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: absolute;
  text-align: center;
}

.mobile-controls #u {
  margin-top: -50px;
  margin-bottom: 50px;
  position: absolute;
}

.mobile-controls #d {
  margin-top: 50px;
  margin-bottom: -50px;
  position: absolute;
}

.mobile-controls #l {
  margin-left: -100px;
  position: absolute;
}

.mobile-controls #r {
  margin-left: 100px;
  position: absolute;
}


@media (max-width: 414px) and (min-width: 367px) {
  @viewport {
    width: device-width;
  }
}

@media screen and (max-width: 414px) {
  .mobile-controls {
    visibility: visible;
    display: flex;
    justify-content: center;
  }
}