html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-x: hidden;
}

.board {
  width: 410px;
  height: 400px;

  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.snake {
  background-color: black;
  border: 1px solid white;
}

.snake-head {
  background-color: black;
  border: 1px solid red;
}

.food {
  background-color: red;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
  margin-left: 80px;

  height: 200px;
  width: 240px;
  border: 3px solid red;
  background-color: black;
}

.play, .play-again {
  background-color: grey;
  padding: 12px 25px;
}

.play:hover, .play-again:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}